<template>
  	<div class="stations_content">
		<div class="filter_wrap">	

			<div class="filter_content filter_content_add row">
				<div class="col-md-12">
                    <form @submit.prevent="addStation" action="">

                        <div v-if="success" class="alert alert-success"> {{ success }}</div>
                        <div v-if="errors" class="alert alert-danger"> {{ errors }}</div>
                        <p>
                            <input type="text" ref="name" v-model="name" class="form-control" name="name" placeholder="Name">
                        </p>
                        
                        <p>
                             <input type="text" ref="latitude" v-model="latitude" class="form-control" name="latitude" placeholder="Latitude">
                        </p>
                       
                        <p>
                            <input type="text" ref="longitude" v-model="longitude" class="form-control" name="longitude" placeholder="Longitude">
                        </p>                      
                       
                        
                        <p><select v-model="company" name="company" id="company" class="form-control">
                            <option value="">Select a Company</option>
                            <option value="1">Category 1</option>
                            <option value="2">Category 2</option>
                            <option value="3">Category 3</option>
                            <option value="4">Category 4</option>
                            <option value="5">Category 5</option>
                        </select>                        
                        </p>
                        
                        <button type="submit" class="btn btn-success">Add Station</button>

                    </form>
				</div> 
			</div>
			 
		</div>	 

	</div>
</template>


<script>

import axios from 'axios';
import * as CONFIG from './Config';

export default {
	

	data: function() {
        return  {	
            name: "", 
            latitude: "",
			longitude: "",	
            company: "",
            success: "",
            errors: ""
		}
	},	

    created() {
        console.log("CREATED.....");
	},  

    methods: {		
		 
		addStation() {
			
           const vm = this;
            let uri = CONFIG.API_URL+'/stations?'+'token='+localStorage.getItem('token');
            
                axios.post(uri,{
                    "latitude": vm.latitude,
                    "longitude": vm.longitude,
                    "name": vm.name,
                    "company_id": vm.company,
                }
                
                ).then((response) => {      
                    
                    if(response.status == 200){
                        vm.success = "Station added successfully";
                    }else{
                        vm.errors = "Something wrong. Please try again!";
                    }                 

                });
			 
		} 
    }
}
 
</script>

<style scoped>
    .filter_content.row.filter_content_add{
        margin-top: 25px; 
        border-radius: 8px; 
    }

    .filter_content_add input {
        display: inline-block;
        margin-right: 12px;
        vertical-align: top;
        width: 40%;
    }

    .filter_wrap .filter_content_add select {
        display: inline-block;
        margin: 0 12px 0 0;
        vertical-align: top;
        width: 40%;
    }

</style>


 