<template>
   <li>

       <router-link :to="{ name: 'CompanyStations', params: { company_id: child.id }}">{{ child.name}}</router-link>
       
        <ul v-if="child.childs && child.childs.length">
            <Child  v-for="child in child.childs" :key="child.id" :child="child"></Child>
        </ul> 
    </li>
</template>

<script>
export default {
    name: "Child",
    props: ['child'],
}

</script>