<template>
    <div>

        <div class="panel panel-default">
            <div class="panel-heading"> <h4>All Companies</h4></div>

            
            <div class="panel-body">
                <p v-if="errors.length"> {{ errors }}</p>

                    <ul>
                        <li v-for="company in companies " :key="company.id">                          
                            
                            <router-link 
                                :to="{ name: 'CompanyStations', params: { company_id: company.id }}">
                                    {{ company.name}}
                            </router-link> 

                            <ul v-if="company.childs && company.childs.length">
                                <Child  v-for="child in company.childs" :key="child.id" :child="child"></Child>
                            </ul>       
                        </li>                       
                        
                    </ul>
            </div>
        </div>
       


    </div>
</template>

<script>
import axios from 'axios';
import * as CONFIG from './Config'
import Child from "./ChildCompany";

export default {
    
    data: () =>{
        
        return {

            companies: [],
            errors : [],
        }
    },

    methods: {       

        getCompanies() {
            const vm = this;
            let uri = CONFIG.API_URL+'/companies?'+'token='+localStorage.getItem('token');
            
                axios.get(uri).then((response) => {                   
                    
                    if(response.status == 200){
                        vm.companies = response.data.data;
                    }else{
                        vm.errors = response.data.errorMessage;
                    }                 

                });
            }
    },

    created: function () {
        this.getCompanies();
    },
   
   components: {
            Child
    }
}
</script>