<template>
    <div>
        <div v-if="getToken()">
            Logged In!!!
        </div>
        <div v-else>
            Please <router-link to="/login">Login!</router-link>
        </div>
        <div>Home Page....</div>
    </div>
</template>

<script>

export default {
    created: () => {
        console.log(getToken());
        
    },

    methods: {
        getToken(){
            return localStorage.getItem('token');
        }
    }
}
</script>
