<template>
  <div class="login-wrapper border border-light">
    <form class="form-signin" @submit.prevent="login">
      <h2 class="form-signin-heading">Please sign in</h2>

      <div class="alert alert-danger" v-if="errors.length">
          <ul> <li v-for="error in errors" :key="error.id">{{ error }} </li></ul>
      </div>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input 
            v-model="email" 
            type="email" 
            id="inputEmail" 
            class="form-control" 
            placeholder="Email address" required autofocus>
     
      <label for="inputPassword" class="sr-only">Password</label>
      <input 
            v-model="password" 
            type="password" 
            id="inputPassword" 
            class="form-control" 
            placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import * as CONFIG from './Config'

export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: '',
      errors : []
    }
  },

  created: () => {

      console.log(localStorage.getItem('token'));
  },

  methods: {
    login () {
      console.log("Submitted.....");

        var vm = this;

         let uri = CONFIG.API_ENDPOINT+'/auth/login';
        
        
        axios.post(uri,{
            'email': vm.email,
            'password': vm.password
           }
        ).then((response) => {
            console.log(response);
            
            if(response.status == 200){
               localStorage.setItem('token', response.data.api_token);
               vm.$router.push('/companies');
             }else{
                 
                 vm.errors = [];
                 vm.errors.push(response.data.message);
             }                 

        });     

      
    }
  }
}
</script>

<style lang="css">
body {
  background: #605B56;
}

.login-wrapper {
  background: #fff;
  width: 70%;
  margin: 12% auto;
}

.form-signin {
  max-width: 490px;
  padding: 10% 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 4px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>