<template>
        <div>Logging out.....</div>
</template>

<script>

export default {
   
   created: () => {
        const vm = this;
        localStorage.setItem('token', "");
        vm.$router.push('/login');
    }    
}

</script>
