<template>
    <div>
       
       <div class="panel panel-success">
            <div class="panel-heading"> 
                <div>Filter Stations  
                    <router-link to="/stations/add" class="btn btn-small btn-success add_station">Add Station</router-link>
                 </div>       
            </div>
            
            <div class="panel-body">	

				<div class="col-md-12">
					<div class="search_wrap">
						<form @submit.prevent="onSearch" action="">

							<input type="text" ref="latitude" v-model="latitude" class="form-control" name="latitude" placeholder="Latitude" required>

							<input type="text" ref="longitude" v-model="longitude" class="form-control" name="longitude" placeholder="Longitude" required>

							<input type="text" ref="distance" v-model="distance" class="form-control distance" name="distance" placeholder="Distance"> 

							<button type="submit" class="btn btn-success">Search</button>

						</form>						
					</div>
					
				</div>
			</div>  
            </div>
      
         <div class="panel panel-default">
            <div class="panel-heading"> <h4>All Stations</h4></div>
            
            <div class="panel-body">
                  <p v-if="errors.length"> {{ errors }}</p>
                    <ul v-if="stations.length">
                        <li style="float:left; width:50%;" v-if="stations.length" v-for="station in stations" :key="station.id">
                            <p><strong>Station: </strong>{{station.name}}</p>
                            <p><strong>Company: </strong>{{station.company.name}}</p>
                            <p><strong>Localtion: </strong>{{station.latitude}} & {{station.longitude}}</p>
                         <hr/>
                         </li>                       
                       
                    </ul>
                    <p v-else> No Station Found!!</p>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import * as CONFIG from './Config';

export default {
    data: () => {
        return {
            
            stations: [],
            latitude: "",
            longitude: "",
            distance: 10,
            errors: []
        }
    },
    
    created() {

            this.getStations(); 
    },

    methods: {

         getStations() {
             
             const vm = this;
             let uri = "";

             if(this.$route.params.company_id ){
                  uri = CONFIG.API_URL+'/stations?company_id='+vm.$route.params.company_id+'&token='+localStorage.getItem('token');
                 
             }else{
                  uri = CONFIG.API_URL+'/stations?'+'token='+localStorage.getItem('token');
             }         
            
            axios.get(uri).then((response) => {                   
                
                if(response.status == 200){
                    vm.stations = response.data.data;
                }else{
                    vm.errors = response.data.errorMessage;
                }                 

            });
            },

        onSearch(){
            
            const vm = this;
            let uri = CONFIG.API_URL+'/search?'+'token='+localStorage.getItem('token');
            
                axios.post(uri,{
                    "latitude": vm.latitude,
                    "longitude": vm.longitude,
                    "distance": vm.distance,
                }
                
                ).then((response) => {          
                    if(response.status == 200){
                        vm.stations = response.data;
                    }else{
                        vm.errors = response.data.errorMessage;
                    }                 

                });
        }
    }
}
</script>

<style>
.add_station{
    float: right;
}
.search_wrap select, .search_wrap input {
    display: inline-block;
    margin-right: 23px;
    vertical-align: top;
    width: 28%;
}
</style>


